{% extends 'base.html' %}
	
    {% block content %}
     <font size="+2">{{courseName}}</font> <br>
     <font size="+1">{{description}} </font> <br>
     {{units}} Credits
     <br>
     <br>

 <div align="left">
    <div class="btn-group-vertical">
	<form method="POST">
    {% for x,y,z,a,b in Info%}



    		{% csrf_token %}
    <div class="col-md-12 mb-1">
            
    <button type="submit" name="section" value={{a}}>View More</button> <nobr>
             <p style="display:inline"> Component: {{b}} &nbsp&nbsp&nbsp Instructor: {{x}} &nbsp&nbsp&nbsp Spots Available: {{y}} &nbsp&nbsp&nbsp Day: {{z}} </p>            
    </div>  

    {% endfor %}
    </form>
    </div>
    </div>

	{% endblock content %}
